# ------------ backend
backend/.ENV


# ------------ frontend

# Logs
frontend/stradivarius/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency
frontend/stradivarius/node_modules

# Build
.DS_Store
frontend/stradivarius/dist
frontend/stradivarius/dist-ssr
frontend/stradivarius/coverage
*.local

frontend/stradivarius/cypress/videos/
frontend/stradivarius/cypress/screenshots/

# Editor directories and files
frontend/stradivarius/.vscode/*
!frontend/stradivarius/.vscode/extensions.json
frontend/stradivarius/.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TS
*.tsbuildinfo
